---
---

@import "{{ site.theme }}";

body {
  margin: 0;
  padding: 0;
  background: $body-background url("../images/bkg-light.png") 0 0;
  color: $body-foreground;
  font-size: 16px;
  line-height: 1.5;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
}

/* General & 'Reset' Stuff */

.container {
  width: 90%;
  max-width: $container-max-width;
  margin: 0 auto;
}

header {
  background: rgba(255, 255, 255, 0.9); /* Lighter background for the header */
  border-bottom: 1px solid $midnight-blue;
  padding: 20px 0;
  margin-bottom: 40px;
}

header h1 {
  color: $midnight-blue;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
               0 0 5px rgba(63, 81, 181, 0.2); /* Subtle glow */
}

header h2 {
  color: $dim-gray;
}

blockquote {
  color: $blockquote-color;
  padding-left: 10px;
  border-left: 3px solid $blockquote-border; /* Softer border */
}

pre {
  background: $white-smoke;
  border: 1px solid $light-gray;
  color: $midnight-blue;
}

code.highlighter-rouge {
  background: $light-gray;
  color: $midnight-blue;
}

/* Buttons */
.btn {
  background: -webkit-linear-gradient(top, $alice-blue, $light-steel-blue);
  border: 2px solid $midnight-blue;
  color: $midnight-blue;
  text-shadow: none;
}

.btn:hover {
  background: $light-steel-blue;
}

/* Links */
a {
  color: $midnight-blue;
  text-shadow: none;
}

/* Tables */
th {
  border-bottom: 1px solid $light-gray;
}

hr {
  border-bottom: 1px solid $light-gray;
}
